.note-contaier{
    height: 100%;
    width: 80%;
}

.note-contaier h2{
    margin-bottom: 20px;
}

.note-container_notes{
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: scroll;
}