.note-contaier{
    height: 100%;
    width: 80%;
}

.note-contaier h2{
    margin-bottom: 20px;
}

.note-container_notes{
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: scroll;
}

.note-container_notes {
    width: 100%;
    height: 100%;
}

.note-container_notes .empty-notes{
    width: 100%;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notes-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notes-top input{
    height: 30px;
    padding: 10px;
    border-radius: 7px;
    outline: none;
    background-color: #b693fd;
    border: none;

    
}

.notes-top .bo:focus{
    border: 2px solid #b693fd;
    border-radius: 7px;
}